{% extends 'base.html.twig' %}

{% block contenu %}
    <table>
        <thead>
            <tr>
                <th>RAISON SOCIALE</th>
                <th>SIRET</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entreprise.raisonSociale }}</a></td>
                <td>{{ entreprise.siret }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.cp }}</td>
                <td>{{ entreprise.ville }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
